*{
    font-family: 'Kanit', sans-serif;
}


.reviews-container {
    background-image: url('/Home-img/wallpaper-review.jpg');
    background-size: cover;
    height: 90vh;
   
    padding: 40px 0;
}


.reviews-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    
}


.reviews-title {
    font-size: 2em;
    margin-bottom: 70px;
    font-weight: bold;
    color: black;
    
}

.latest-reviews {
    font-size: 1.5em;
    color: #555;
    margin-bottom: 30px;
}


.review-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    
  
}


.review-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.review-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.review-rating {
    font-size: 1.2em;
    color: #ff9800;
}

.review-title {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 10px;
    color: #333;
}

.review-body {
    font-size: 0.95em;
    margin: 15px 0;
    color: #666;
}


.review-footer {
    display: flex;
    align-items: center;
    margin-top: auto;
}



.reviewer-info {
    text-align: left;
}

.reviewer-name {
    font-weight: bold;
    color: #333;
}

.review-date {
    font-size: 0.8em;
    color: #888;
}
