

.ApproveDriver-container {
    margin: 5rem;
    border-radius: 10px;
    border: 1px solid black;
    padding: 2rem;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  }
  
  .filters-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right: 5rem;
    gap: 10px;
  }
  
  .page-space {
    margin: 0 0.5rem;
  }
  