@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');




.Hero-container{
    background-image: url("../public/Home-img/Hero-image.png");
    background-size: cover;
    background-position: center;
   height: 100vh;
   display: flex;
   justify-content: flex-start;  
   padding-left: 5%;
   padding-top: 5%;
   
}


.Hero-content{
    text-align: left;
    max-width: 40%; 
}


.Hero-content h1 {
    font-size: 7rem;
    background: linear-gradient(to right, #63DD97, #0AA74E);
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent;
    margin-top: 2rem;
    font-family: "Racing Sans One", sans-serif;
  }
  

.Hero-content p {
    font-size: 1.5rem;
    color: #333;
    margin-top: 10px;
    line-height: 1.5;
    
}


.btn-Hero {
    font-family: "Racing Sans One", sans-serif; 
    margin-top: 5rem;
    margin-left: 2.75rem;
}

.btn-xl {
    padding: 15px 50px;
    font-size: 1.75rem;
  }
  

 
